<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.exploresg">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ANDE"
        android:windowBackground="#FFFFFF">
        <activity android:name="com.example.exploresg.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.exploresg.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.example.exploresg.SavedLocationsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.example.exploresg.SettingActivity">

        </activity>
        <activity android:name="com.example.exploresg.RecoPageActivity">

        </activity>
        <activity android:name="com.example.exploresg.AboutActivity">

        </activity>
        <activity android:name="com.example.exploresg.databaseTestActivity">

        </activity>
        <activity android:name="com.example.exploresg.RecoDetailActivity">

        </activity>
        <activity android:name="com.example.exploresg.NotificationActivity">

        </activity>
        <activity android:name="com.example.exploresg.HistoryActivity">

        </activity>
        <service
            android:name="com.example.exploresg.NotificationService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            >
        </service>
        <receiver
            android:name="com.example.exploresg.NotificationReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
    </application>

</manifest>